<!-- Header -->
	<header id="header" class="alt">
		<h1><a href="{{ site.baseurl }}">Yajing</a> Gao</h1>
		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}">Home</a></li>
				<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
				
				<li>
					<a href="" class="icon fa-angle-down">Categories</a>
					<ul>
						{% for category in site.categories %}
						<li><a href="/category/{{ category[0] }}">{{ category[0]}}</a></li>
						{% endfor %}
					</ul>
				</li>				
			</ul>
		</nav>
	</header>
